# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
!data/raw/.gitkeep
!data/raw/atus/.gitkeep
!data/raw/ncvs/.gitkeep
data/processed/*

# Reports
reports/figures/*
!reports/figures/.gitkeep